Data Mining Project: data processsing and analysis

Connect to the Amazon RDS MySQL Database

In [52]:
import os
import configparser
from sqlalchemy import create_engine

# Read configuration file
mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("mysql.cfg")  # Ensure this file is in your working directory

user = mysqlcfg['mysql']['user']
passwd = mysqlcfg['mysql']['passwd']
host = mysqlcfg['mysql']['host']

# Build the connection string.
dburl = f"mysql+pymysql://{user}:{passwd}@{host}:3306"
engine = create_engine(dburl, connect_args={"local_infile": 1})


# Connect to the database
try:
    connection = engine.connect()
    print("Successfully connected to the RDS MySQL instance!")
except Exception as e:
    print("Connection failed:", e)

Successfully connected to the RDS MySQL instance!

check the connection

In [27]:
# Load SQL magic in Jupyter Notebook
%reload_ext sql

# Set the DATABASE_URL environment variable
os.environ['DATABASE_URL'] = dburl

# Now run a test query
%sql SELECT version();

 * mysql+pymysql://admin:***@imdb-db.ccz8a4s84tqy.us-east-1.rds.amazonaws.com:3306
1 rows affected.

[('8.0.40',)]

Data attributes Memo:
title.basics: tconst	titleType	primaryTitle	originalTitle	isAdult	startYear	endYear	runtimeMinutes	genres
title.ratings: tconst	averageRating	numVotes

create database

In [14]:
%%sql
# Drop all the movie project db tables
DROP TABLE IF EXISTS title_basics;
DROP TABLE IF EXISTS title_ratings;

 * mysql+pymysql://admin:***@imdb-db.ccz8a4s84tqy.us-east-1.rds.amazonaws.com:3306
0 rows affected.
0 rows affected.

[]

In [40]:
%%sql
CREATE DATABASE imdb;
USE imdb;

 * mysql+pymysql://admin:***@imdb-db.ccz8a4s84tqy.us-east-1.rds.amazonaws.com:3306
(pymysql.err.ProgrammingError) (1007, "Can't create database 'imdb'; database exists")
[SQL: CREATE DATABASE imdb;]
(Background on this error at: https://sqlalche.me/e/14/f405)

Design and Create Tables (for "What factors most strongly correlate with higher IMDb ratings?")

title_basics Table

In [16]:
%%sql
CREATE TABLE title_basics (
    tconst VARCHAR(10) PRIMARY KEY,
    titleType VARCHAR(50),
    primaryTitle VARCHAR(255),
    originalTitle VARCHAR(255),
    isAdult TINYINT,
    startYear INT,
    endYear INT,
    runtimeMinutes INT,
    genres VARCHAR(255)
);

 * mysql+pymysql://admin:***@imdb-db.ccz8a4s84tqy.us-east-1.rds.amazonaws.com:3306
0 rows affected.

[]

title_ratings Table

In [17]:
%%sql
CREATE TABLE title_ratings (
    tconst VARCHAR(10) PRIMARY KEY,
    averageRating DECIMAL(3,1),
    numVotes INT
);

 * mysql+pymysql://admin:***@imdb-db.ccz8a4s84tqy.us-east-1.rds.amazonaws.com:3306
0 rows affected.

[]

box office earnings

In [18]:
# code

Load data into MySQL

In [53]:
%%sql
USE imdb;
SHOW VARIABLES LIKE 'local_infile';

 * mysql+pymysql://admin:***@imdb-db.ccz8a4s84tqy.us-east-1.rds.amazonaws.com:3306
0 rows affected.
1 rows affected.

[('local_infile', 'ON')]

In [24]:
import os
print(os.getcwd())

/home/jovyan/cs4502_DataMining/project

In [56]:
%%sql
LOAD DATA LOCAL INFILE 'title.basics.tsv'
INTO TABLE title_basics
FIELDS TERMINATED BY '\t'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

 * mysql+pymysql://admin:***@imdb-db.ccz8a4s84tqy.us-east-1.rds.amazonaws.com:3306
(pymysql.err.OperationalError) (3948, 'Loading local data is disabled; this must be enabled on both the client and server sides')
[SQL: LOAD DATA LOCAL INFILE 'title.basics.tsv'
INTO TABLE title_basics
FIELDS TERMINATED BY '\t'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [55]:
LOAD DATA LOCAL INFILE '/cs4502_DataMining/project/title.ratings.tsv'
INTO TABLE title_ratings
FIELDS TERMINATED BY '\t'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

SyntaxError: invalid syntax (3167194589.py, line 1)

Verify the data loading

In [64]:
%%sql
SELECT COUNT(*) FROM title_basics;
SELECT * FROM title_basics LIMIT 10;

 * mysql+pymysql://admin:***@imdb-db.ccz8a4s84tqy.us-east-1.rds.amazonaws.com:3306
1 rows affected.
10 rows affected.

[('tt0000001', 'short', 'Carmencita', 'Carmencita', 0, 1894, None, 1, 'Documentary,Short'),
 ('tt0000002', 'short', 'Le clown et ses chiens', 'Le clown et ses chiens', 0, 1892, None, 5, 'Animation,Short'),
 ('tt0000003', 'short', 'Poor Pierrot', 'Pauvre Pierrot', 0, 1892, None, 5, 'Animation,Comedy,Romance'),
 ('tt0000004', 'short', 'Un bon bock', 'Un bon bock', 0, 1892, None, 12, 'Animation,Short'),
 ('tt0000005', 'short', 'Blacksmith Scene', 'Blacksmith Scene', 0, 1893, None, 1, 'Short'),
 ('tt0000006', 'short', 'Chinese Opium Den', 'Chinese Opium Den', 0, 1894, None, 1, 'Short'),
 ('tt0000007', 'short', 'Corbett and Courtney Before the Kinetograph', 'Corbett and Courtney Before the Kinetograph', 0, 1894, None, 1, 'Short,Sport'),
 ('tt0000008', 'short', 'Edison Kinetoscopic Record of a Sneeze', 'Edison Kinetoscopic Record of a Sneeze', 0, 1894, None, 1, 'Documentary,Short'),
 ('tt0000009', 'movie', 'Miss Jerry', 'Miss Jerry', 0, 1894, None, 45, 'Romance'),
 ('tt0000010', 'short', 'Leaving the Factory', "La sortie de l'usine Lumière à Lyon", 0, 1895, None, 1, 'Documentary,Short')]

In [63]:
%%sql
SELECT COUNT(*) FROM title_ratings;
SELECT * FROM title_ratings LIMIT 10;

 * mysql+pymysql://admin:***@imdb-db.ccz8a4s84tqy.us-east-1.rds.amazonaws.com:3306
1 rows affected.
10 rows affected.

[('tt0000001', Decimal('5.7'), 2128),
 ('tt0000002', Decimal('5.6'), 286),
 ('tt0000003', Decimal('6.4'), 2162),
 ('tt0000004', Decimal('5.3'), 183),
 ('tt0000005', Decimal('6.2'), 2891),
 ('tt0000006', Decimal('5.0'), 205),
 ('tt0000007', Decimal('5.3'), 899),
 ('tt0000008', Decimal('5.4'), 2273),
 ('tt0000009', Decimal('5.4'), 218),
 ('tt0000010', Decimal('6.8'), 7853)]