Data Mining Project: data processsing and analysis

Connect to the Amazon RDS MySQL Database

In [ ]:
import os
import configparser
from sqlalchemy import create_engine

# Read configuration file
mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("mysql.cfg")  # Ensure this file is in your working directory

user = mysqlcfg['mysql']['user']
passwd = mysqlcfg['mysql']['passwd']
host = mysqlcfg['mysql']['host']

# Build the connection string.
dburl = f"mysql+pymysql://{user}:{passwd}@{host}:3306"
engine = create_engine(dburl, connect_args={"local_infile": 1})


# Connect to the database
try:
    connection = engine.connect()
    print("Successfully connected to the RDS MySQL instance!")
except Exception as e:
    print("Connection failed:", e)

check the connection

In [ ]:
# Load SQL magic in Jupyter Notebook
%reload_ext sql

# Set the DATABASE_URL environment variable
os.environ['DATABASE_URL'] = dburl

# Now run a test query
%sql SELECT version();

Data attributes Memo:
title.basics: tconst	titleType	primaryTitle	originalTitle	isAdult	startYear	endYear	runtimeMinutes	genres
title.ratings: tconst	averageRating	numVotes

create database

In [ ]:
%%sql
# Drop all the movie project db tables
USE imdb;
DROP TABLE IF EXISTS title_basics;
DROP TABLE IF EXISTS title_ratings;

In [ ]:
%%sql
# CREATE DATABASE imdb;
# USE imdb;

Design and Create Tables (for "What factors most strongly correlate with higher IMDb ratings?")

title_basics Table

In [ ]:
%%sql
CREATE TABLE title_basics (
    tconst VARCHAR(10) PRIMARY KEY,
    titleType VARCHAR(50),
    primaryTitle VARCHAR(255),
    originalTitle VARCHAR(255),
    isAdult TINYINT,
    startYear INT,
    endYear INT,
    runtimeMinutes INT,
    genres VARCHAR(255)
);

title_ratings Table

In [ ]:
%%sql
CREATE TABLE title_ratings (
    tconst VARCHAR(10) PRIMARY KEY,
    averageRating DECIMAL(3,1),
    numVotes INT
);

box office earnings

In [ ]:
# code

Load data into MySQL

In [ ]:
%%sql
USE imdb;
SHOW VARIABLES LIKE 'local_infile';

In [14]:
import os
print(os.getcwd())

/home/jovyan/imdb-data-mining-pjt/FilmIndustryTrendsAndSuccessUsingIMDbDataSet

In [ ]:
%%sql
LOAD DATA LOCAL INFILE '../title.basics.tsv'
INTO TABLE title_basics
FIELDS TERMINATED BY '\t'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

In [16]:
LOAD DATA LOCAL INFILE '/cs4502_DataMining/project/title.ratings.tsv'
INTO TABLE title_ratings
FIELDS TERMINATED BY '\t'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

SyntaxError: invalid syntax (3167194589.py, line 1)

Verify the data loading

In [17]:
%%sql
SELECT COUNT(*) FROM title_basics;
SELECT * FROM title_basics LIMIT 10;

 * mysql+pymysql://admin:***@imdb-db.ccz8a4s84tqy.us-east-1.rds.amazonaws.com:3306
1 rows affected.
0 rows affected.

[]

In [18]:
%%sql
SELECT COUNT(*) FROM title_ratings;
SELECT * FROM title_ratings LIMIT 10;

 * mysql+pymysql://admin:***@imdb-db.ccz8a4s84tqy.us-east-1.rds.amazonaws.com:3306
1 rows affected.
0 rows affected.

[]